/* Styles for the flight data container */
.flight-data-container {
  overflow: hidden;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  position: relative;
  top: 150px;
}

/* Styles for individual flight data rows */
.flight-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; 
  background-color: #2a0e3e;
  height: calc(14.5% - 30px);
  transition: transform 0.5s ease-in-out;
}

.item-content {
  flex: 1;
  text-align: center;
  color: white;
  font-size: 27px;
}


.time-color {
  color: #e1d25f;
  font-weight: bold;
}

/* Add striped background for even rows */
.row-stripped {
  background-color: #6a1f88;
}

/* Styles for no flyght and network error messages */
.item-error {
  position: relative;
  top: 300px;
  text-align: center;
  color: #c7c3da;
  font-size: 40px;
}

/* Styles for image within the flight data */
.item-image {
  width: 130px;
  height: 60px;
  margin-top: 5px;
  margin-right: 10px;
}