/* Styles pour le composant Footer */
.footer-grid {
  grid-area: footer-grid;
  background-color: #e1d25f;
  color: #2a0e3e;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Deux colonnes égales */
  align-items: center;
}

.footer-grid span {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

/* Médias queries pour la réactivité */
@media (max-width: 767px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-grid span {
    padding: 10px;
    font-size: 16px;
  }
}


/* Médias queries pour la réactivité pour 450px Max */
@media (max-width: 450px) {

  .footer-grid span {
    padding: 10px;
    font-size: 12px;
  }

  .dateFooter {
    font-size: 14px;
  }
}