/* Styles pour l'en-tête */
* {
  margin: 0;
}

.header-grid {
  grid-area: header-grid;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #2a0e3e;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-label {
  color: #c7c3da;
  margin-left: 15px;
  font-size: 18px;
}

.logo img {
  height: 50px;
}

.departures h1 {
  font-size: 35px;
  color: #c7c3da;
}

.current-time {
  margin-right: 15px;
  color: #e1d25f;
}

.flight-header {
  display: flex;
  color: #a2afd1;
  font-weight: bold;
  padding: 10px;
  font-size: 30px;
}

.item {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-right: 1.5px solid white;
}

.item:last-child {
  border-right: none;
}

.icon-color {
  color: #e1d25f;
}


/* Médias queries pour la réactivité */
@media (max-width: 767px) {
  header {
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
  }

  .logo-label {
    display: none;
  }

  .departures {
    margin-top: 10px;

  }

  .current-time {
    margin-top: 10px;
    font-size: 11px;
  }

  .departures h1 {
    font-size: 25px;
  }


  .logo-label {
    display: none;
  }

  .logo img {
    height: 40px;
  }

  .item {
    padding: 5px;
    font-size: 20px;
  }
}

/* Médias queries pour la réactivité jusqu'à 400px */
@media (max-width: 400px) {
  header {
    align-items: center;
    text-align: center;
  }

  .logo-label {
    display: none;
  }

  .departures {
    margin-top: 10px;
  }

  .current-time {
    margin-top: 10px;
  }

  .current-time h1 {
    font-size: 10px;
  }

  .departures h1 {
    font-size: 15px;
  }

  .logo img {
    height: 30px;
  }

  .flight-header .item {
    padding: 5px;
    font-size: 15px;
  }
}